<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.icbt.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerService</servlet-name>
  	<display-name>CustomerService</display-name>
  	<description></description>
  	<servlet-class>com.icbt.service.CustomerService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Customer</servlet-name>
  	<display-name>Customer</display-name>
  	<description></description>
  	<servlet-class>com.icbt.model.Customer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerDAO</servlet-name>
  	<display-name>CustomerDAO</display-name>
  	<description></description>
  	<servlet-class>com.icbt.dao.CustomerDAO</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/customerCcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerService</servlet-name>
  	<url-pattern>/CustomerService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Customer</servlet-name>
  	<url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerDAO</servlet-name>
  	<url-pattern>/CustomerDAO</url-pattern>
  </servlet-mapping>
</web-app>
