<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>CustomerController</servlet-name>
  	<display-name>CustomerController</display-name>
  	<description></description>
  	<servlet-class>com.icbt.controller.CustomerController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerService</servlet-name>
  	<display-name>CustomerService</display-name>
  	<description></description>
  	<servlet-class>com.icbt.service.CustomerService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Customer</servlet-name>
  	<display-name>Customer</display-name>
  	<description></description>
  	<servlet-class>com.icbt.model.Customer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerDAO</servlet-name>
  	<display-name>CustomerDAO</display-name>
  	<description></description>
  	<servlet-class>com.icbt.dao.CustomerDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Bill</servlet-name>
  	<display-name>Bill</display-name>
  	<description></description>
  	<servlet-class>com.icbt.model.Bill</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillDAO</servlet-name>
  	<display-name>BillDAO</display-name>
  	<description></description>
  	<servlet-class>com.icbt.dao.BillDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillService</servlet-name>
  	<display-name>BillService</display-name>
  	<description></description>
  	<servlet-class>com.icbt.service.BillService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BillController</servlet-name>
  	<display-name>BillController</display-name>
  	<description></description>
  	<servlet-class>com.icbt.controller.BillController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>User</servlet-name>
  	<display-name>User</display-name>
  	<description></description>
  	<servlet-class>com.icbt.model.User</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserDAO</servlet-name>
  	<display-name>UserDAO</display-name>
  	<description></description>
  	<servlet-class>com.icbt.dao.UserDAO</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UserService</servlet-name>
  	<display-name>UserService</display-name>
  	<description></description>
  	<servlet-class>com.icbt.service.UserService</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginController</servlet-name>
  	<display-name>LoginController</display-name>
  	<description></description>
  	<servlet-class>com.icbt.controller.LoginController</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthenticationFilter</servlet-name>
  	<display-name>AuthenticationFilter</display-name>
  	<description></description>
  	<servlet-class>com.icbt.filter.AuthenticationFilter</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Auth</servlet-name>
  	<display-name>Auth</display-name>
  	<description></description>
  	<servlet-class>com.icbt.auth.Auth</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AuthController</servlet-name>
  	<display-name>AuthController</display-name>
  	<description></description>
  	<servlet-class>com.icbt.controller.AuthController</servlet-class>
  </servlet>

  <servlet-mapping>
  	<servlet-name>CustomerController</servlet-name>
  	<url-pattern>/customerCcontroller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerService</servlet-name>
  	<url-pattern>/CustomerService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Customer</servlet-name>
  	<url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerDAO</servlet-name>
  	<url-pattern>/CustomerDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Bill</servlet-name>
  	<url-pattern>/Bill</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillDAO</servlet-name>
  	<url-pattern>/BillDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillService</servlet-name>
  	<url-pattern>/BillService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BillController</servlet-name>
  	<url-pattern>/BillController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>User</servlet-name>
  	<url-pattern>/User</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserDAO</servlet-name>
  	<url-pattern>/UserDAO</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UserService</servlet-name>
  	<url-pattern>/UserService</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Auth</servlet-name>
  	<url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AuthController</servlet-name>
  	<url-pattern>/AuthController</url-pattern>
  </servlet-mapping>

</web-app>
